<section class="dashboard-bg">
        <div class="container-fluid p-0">
            <div class="">
                <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                    <div class="bg-white ">
                        <app-teacher-sidebar></app-teacher-sidebar>
                    </div>
                </div>
                <div class="w-70 float-left mobileDashboard compose-style main-style" id="extendWidth">
                    <app-t-email-header></app-t-email-header>
                    <div class="main-dashboard pt-5 ">
                        <div class="container">
                            <div class="w-80 mt-4 mb-2 m-auto">
                                <div class="row mb-5">
                                    <div class="col-lg-4">
                                        <div class="theme-l-content">
                                            <h6 class="font-weight-bold pb-2">Compose EDM </h6>
                                            <p>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-m">
                                        <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="search-bar-bg ">
                                                        <form>
                                                            <div class="rounded-shadow mb-4">
                                                                <div class="btn-group w-100">
                                                                        <select class="btn btn-primary-orng">
                                                                                <option>Filter</option>
                                                                                <option>Filter</option>
                                                                            </select>
                                                                    <div class="input-group search-bar">
                                                                        <input class="form-control " type="search" placeholder="Search for a list by name or email">
                                                                            <div class="input-group-append">
                                                                                <button class="btn-clr" type="button">
                                                                                    <i class="fa fa-search"></i>
                                                                                </button>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </form>
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rounded-shadow pt-3 pb-3 pl-5 pr-5">
                                                            <table class="table table-borderless table-responsive break-table text-center compose-table">
                                                                    <thead>
                                                                      <tr class="border-bottom">
                                                                        <th>Campaign Name</th>
                                                                        <th>List Name</th> 
                                                                        <th>Date Sent</th> 
                                                                        <th>Open Rate </th> 
                                                                        <th>Actions</th> 
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                      <tr class="border-bottom">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none compose-btn">
                                                                            <div class="btn-group">
                                                                                <button type="submit" class="btn-edit mr-1">Duplicate</button>
                                                                                <button type="submit" class="btn-edit mr-1">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </div>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </section>