<section class="stu-dashboard">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-1 nav-bg text-center calc_height">
                <nav class="nav flex-column ">
                    <div class="s-logo mb-5">
                        <ul class="list-unstyled ">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <img class="img-fluid" src="assets/img/st-logo.png" alt="">  
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="s-icons mt-5">
                        <ul class="list-unstyled">
                            <li class="nav-item pb-3">
                                <img class="img-fluid" src="assets/img/stu-book.png" alt="">  
                            </li>
                            <li class="nav-item">
                                <img class="img-fluid" src="assets/img/email.png" alt="">  
                            </li>
                        </ul>
                    </div>
                   <div class="s-logout mt-5">
                       <ul class="list-unstyled">
                            <li class="nav-item">
                                <img class="img-fluid" src="assets/img/logout.png" alt="">  
                            </li>
                       </ul>
                   </div>
                </nav>
            </div>
        </div> 
    </div>
</section>