<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
                <div class="w-20 float-left box-shadow-r calc_height  scrollbar" id="sideNav">
                    <div class="bg-white ">
                        <app-sidebar></app-sidebar>
                    </div>
             </div>
            <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                <app-email-header></app-email-header>
                <div class="main-dashboard pt-5 ">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="theme-l-content">
                                        <h6 class="font-weight-bold pb-2">Email Information</h6>
                                        <p>Emailing account connecting</p>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-2">
                                   <div class="rounded-shadow theme-r-content p-5">
                                        <div class="logo-bg text-center ">
                                                <img class="img-fluid email-logo" src="assets/img/email-l.png" alt="logo">
                                            </div>
                                                <form class="text-center p-2 email-form">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold mb-2">Sign in to MailChimp</label>
                                                      <input type="email" class="form-control box-shadow" >
                                                    </div>
                                                    <div class="form-group mb-1">
                                                      <input type="text" class="form-control box-shadow">
                                                    </div><br>
                                                    <button type="submit" class="btn orange-clr w-25 w-btn box-shadow mb-3 m-auto">Sign In</button>
                                                    
                                                </form>
                                    </div>
                                 </div><hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>