.progress{
    border-radius: 30px !important;
    height: 0.7rem !important;
}
.progress-bar-bg .bg-success {
    background-color: #9bdb8b!important;
    border-radius: 30px;
}
.p-text {
    font-size: 12px;
}