<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
                <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                    <div class="bg-white ">
                        <app-sidebar></app-sidebar>
                    </div>
             </div>
            <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                <app-sales-header></app-sales-header>
                <div class="main-dashboard pt-5 ">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="theme-l-content">
                                        <h6 class="font-weight-bold pb-2">Statements</h6>
                                        <p>View and export your financial statements, by month, quarter or financial year.</p>
                                    </div>
                                </div>
                                <div class="col-lg-8 mb-2">
                                    <div class="rounded-shadow theme-r-content pt-5 pb-4 pl-5 pr-5 ">
                                        <div class="course-btn  btn-group">
                                            <div class="form-group">
                                                <select class="btn-ouline-grey form-control">
                                                        <option>Choose Timeframe</option>
                                                        <option>4:59 PM</option>
                                                        <option>4:59 PM</option>
                                                        <option>2:59 PM</option>
                                                        <option>3:59 PM</option>
                                                        <option>4:00 PM</option>
                                                    </select>
                                            </div>
                                             <button type="text" class="btn orange-clr-outline w-btn ml-3">Export as .CSV</button>
                                         </div>
                                    </div><hr>
                                    <div class="rounded-shadow theme-r-content pt-5 pb-4 pl-5 pr-5 ">
                                        <table class="table table-borderless table-responsive break-table text-center">
                                            <thead>
                                              <tr class="border-bottom">
                                                <th>Date</th>
                                                <th>Sales</th> 
                                                <th>Sales Revenue</th> 
                                                <th>Affiliate Fee</th> 
                                                <th>Total</th> 
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td>00/00/00</td>
                                                <td>00</td>
                                                <td>$0.00</td>
                                                <td>$0.00</td>
                                                <td class="border-none">$0.00</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                 </div><hr>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</section>