<section class="dashboard-bg">
        <div class="container-fluid p-0">
            <div class="">
                    <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                        <div class="bg-white ">
                                <app-sidebar></app-sidebar>
                        </div>
                </div>
                <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                    <app-email-header></app-email-header>
                    <div class="main-dashboard pt-5 ">
                        <div class="container">
                            <div class="w-80 mt-4 mb-2 m-auto">
                                <div class="row mb-5">
                                    <div class="col-lg-4">
                                        <div class="theme-l-content">
                                            <h6 class="font-weight-bold pb-2">Create a list </h6>
                                            <p>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                      <div class="rounded-shadow pt-5 pb-5 pl-3 pr-3 text-center">
                                         <div class="image-upload">
                                            <label for="file-input">
                                                <img class="img-fluid u-icon mb-2"src="assets/img/u-icon.png" alt="upload">
                                            </label>
                                            <input id="file-input" type="file"/>
                                        </div>
                                        <div class="grey-clr">Drag n Drop your CSV file here</div>
                                      </div>
                                    </div>
                                    <div class="col-lg-5">
                                      <div class="rounded-shadow pl-4 pr-4 pt-2 pb-2">
                                          <form class="list-from">
                                            <div class="form-group">
                                              <label>List Name</label>  
                                              <input type="text" class="form-control">                                        
                                             </div>
                                             <div class="form-group">
                                               <label>List Description</label>
                                              <textarea class="form-control"></textarea>
                                              </div>
                                          </form>
                                      </div>
                                    </div>
                                </div>
                                <div class="list-m ml-5">
                                        <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="search-bar-bg ">
                                                        <form>
                                                            <div class="rounded-shadow mb-4">
                                                                <div class="btn-group w-100">
                                                                        <select class="btn btn-primary-orng">
                                                                                <option>Filter</option>
                                                                                <option>Filter</option>
                                                                            </select>
                                                                    <div class="input-group search-bar">
                                                                        <input class="form-control " type="search" placeholder="Search for a list by name or email">
                                                                            <div class="input-group-append">
                                                                                <button class="btn-clr" type="button">
                                                                                    <i class="fa fa-search"></i>
                                                                                </button>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </form>
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="rounded-shadow p-4">
                                                            <table class="table table-borderless table-responsive break-table text-center">
                                                                    <thead>
                                                                      <tr class="border-bottom">
                                                                        <th>First Name</th>
                                                                        <th>Last Name</th> 
                                                                        <th>Email Address</th> 
                                                                        <th>Enrolment </th> 
                                                                        <th>Course</th> 
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                      <tr class="border-bottom">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                      <tr class="border-bottom ">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="border-none"></td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </section>