<div class="mobileDashboard " id="extendWidth">
    <app-preview-header></app-preview-header>
    <!-- site-detail-section-start -->
     <div class="sitep-details">
         <div class="container">
             <div class="w-50 m-auto">
                 <div class="d-flex">
                     <div class="sitep-head">
                        <h1>Course<br> Name</h1>
                     </div>
                    <div class="sitep-phr">
                        <h6 class="mb-5">Lorem ipsum dolor sit amet,<br> consetetur sadipscing elitr,<br> sed diam nonumy eirmod <br>tempor invidunt ut labore et</h6>
                    </div>
                 </div>
                 <div class="sitp-btn">
                    <button type="text" class="btn orange-clr w-btn">Enrol Now</button>
                 </div>
             </div>
         </div>
     </div>
     <!-- site-detail-section-end -->
     <!--- sitep-section-start --->
     <section class="sitep-section mt-5 mb-5">
        <div class="container">
           <div class="w-70  m-auto">
               <div class=" rounded-shadow p-3 mb-5">
                    <div class="row">
                        <div class="col-lg-6">
                        <img class="img-fluid pl-3" src="assets/img/sitp-img1.png" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="sitep-content pt-5">
                                <h4 class="org-head font-weight-bold mb-3">Intro to Course</h4>
                                <p>Choose how you’d like to charge for your course. You can choose to either charge your students nothing, a one off charge or by subscription. It’s your choice!</p>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="rounded-shadow pt-3 pb-5 pr-5 pl-5">
                    <h4 class="org-head font-weight-bold mb-3 text-center">Course Style</h4><hr class="p-2">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="c-style org-head text-center">
                                <i class="fa fa-video-camera pb-3" aria-hidden="true"></i>
                                <p >Video <br>Lessons</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="c-style org-head text-center">
                                <i class="fa fa-bars pb-3" aria-hidden="true"></i>
                                <p>Written <br>Lessons</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="c-style org-head text-center">
                                <i class="fa fa-list-ul pb-3" aria-hidden="true"></i>
                                <p>Quiz Based <br>Lessons</p>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="c-content mb-5 mt-5">
                    <h4 class="org-head font-weight-bold mb-3 text-center mt-4">Course Contents</h4><hr class="p-2">
                    <div class="d-flex rounded-shadow mb-4">
                        <div class="mr-auto p-4">
                            <h5 class="org-head font-weight-bold">Unit 1: Title here</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod<br> tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</p>
                        </div>
                        <div class="orange-clr pcourse-text text-center">
                            <p class="border-b">1 hours</p>
                            <div class="icon-design pt-3">
                                <span class="d-inline-block mr-3"><i class="fa fa-video-camera pb-3" aria-hidden="true"></i></span>
                            <span  class="d-inline-block"><i class="fa fa-bars pb-3" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex rounded-shadow mb-4">
                        <div class="mr-auto p-4">
                            <h5 class="org-head font-weight-bold">Unit 2: Title here</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod<br> tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</p>
                        </div>
                        <div class="orange-clr pcourse-text text-center">
                            <p class="border-b">30 mins</p>
                            <div class="icon-design pt-3">
                                <span class="d-inline-block mr-3"><i class="fa fa-video-camera pb-3" aria-hidden="true"></i></span>
                            <span  class="d-inline-block"><i class="fa fa-bars pb-3" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="d-flex rounded-shadow mb-4">
                        <div class="mr-auto p-4">
                            <h5 class="org-head font-weight-bold">Unit 3: Title here</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod<br> tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At</p>
                        </div>
                        <div class="orange-clr pcourse-text text-center">
                            <p class="border-b">1.5 hours</p>
                            <div class="icon-design pt-3">
                                <span class="d-inline-block mr-3"><i class="fa fa-video-camera pb-3" aria-hidden="true"></i></span>
                            <span  class="d-inline-block"><i class="fa fa-bars pb-3" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="csitp-btn m-auto text-center">
                        <button type="text" class="btn orange-clr w-btn">Enrol Now</button>
                     </div>
                </div>
            </div>
            
        </div>
     </section>
     <!--- sitep-section-end --->
     <!--- meet-teach-section-start --->
     <section class="meet-teach-bg mb-5 mt-5">
         <div class="conmtainer-fluid p-0">
             <div class="row">
                <div class="col-lg-6 p-0">
                    <img class="img-fluid" src="assets/img/meet-img.png" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="meet-content">
                        <h4 class="org-head mb-4 ml-2">Meet your Teacher</h4>
                        <div class="sitep-phr">
                            <h6 class="mb-5">Lorem ipsum dolor sit amet,<br> consetetur sadipscing elitr,<br> sed diam nonumy eirmod <br>tempor invidunt ut labore et</h6>
                        </div>
                    </div>
                   
                </div>
             </div>
            
         </div>
     </section>
     <!--- meet-teach-section-end --->
     <!--- testimonals-section-start --->
     <div id="demo" class="carousel slide mb-5" data-ride="carousel">
         <div class="container">
             <div class="w-70 m-auto">
                <!-- <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    </ul> -->
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                       <div class="row">
                           <div class="col-lg-3">
                                <img class="img-fluid" src="assets/img/test1.png" alt="">
                           </div>
                           <div class="col-lg-9">
                            <div class="carousel-caption">
                                <h5 class="mb-3">“Testimonial about your coarse and<br> how it has impacted the individual’s<br> knowledge or workplace.”</h5>
                                <h6>First Name | <span>Profession</span></h6>
                                </div>
                           </div>
                       </div>   
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3">
                                 <img class="img-fluid" src="assets/img/test2.png" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="carousel-caption">
                                    <h5 class="mb-3">“Testimonial about your coarse and<br> how it has impacted the individual’s<br> knowledge or workplace.”</h5>
                                    <h6>First Name | <span>Lorem</span></h6>
                                </div>
                            </div>
                        </div> 
                          
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-3">
                                 <img class="img-fluid" src="assets/img/test1.png" alt="">
                            </div>
                            <div class="col-lg-9">
                                <div class="carousel-caption">
                                    <h5 class="mb-3">“Testimonial about your coarse and<br> how it has impacted the individual’s<br> knowledge or workplace.”</h5>
                                    <h6>Lorem ipsum | <span>dolor sit</span></h6>
                                </div>   
                            </div>
                        </div> 
                        
                    </div>
                    </div>
                    <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a> -->
             </div>
        </div>
      </div>
     <!--- testimonals-section-end --->
    
     <section class="bottom-section">
         <div class="container">
             <div class="w-70 m-auto">
                <h4 class="org-head font-weight-bold mb-3 text-center mt-5">Related Courses</h4><hr class="p-2">
                <div class="row mb-5 mt-5">
                 <div class="col-lg-3">
                     <div class="card card-bg box-shadow">
                         <img class="card-img-top" src="assets/img/cour-img1.png" alt="Card image">
                         <div class="card-body">
                             <h6 class="card-title font-weight-bold pb-3">Course Title</h6>
                         </div>
                         <div class="prev-btn text-center">
                             <button type="text" class="btn orange-clr w-btn">Preview</button>
                          </div>
                      </div>
                    
                 </div>
                 <div class="col-lg-3">
                     <div class="card card-bg box-shadow">
                         <img class="card-img-top" src="assets/img/cour-img2.png" alt="Card image">
                         <div class="card-body">
                             <h6 class="card-title font-weight-bold pb-3">Course Title</h6>
                         </div>
                         <div class="prev-btn text-center">
                             <button type="text" class="btn orange-clr w-btn">Preview</button>
                          </div>
                     </div>
                 </div>
                 <div class="col-lg-3">
                     <div class="card card-bg box-shadow">
                         <img class="card-img-top" src="assets/img/cour-img3.png" alt="Card image">
                         <div class="card-body">
                             <h6 class="card-title font-weight-bold pb-3">Course Title</h6>
                         </div>
                         <div class="prev-btn text-center">
                             <button type="text" class="btn orange-clr w-btn">Preview</button>
                          </div>
                     </div>
                 </div>
                 <div class="col-lg-3">
                     <div class="card card-bg box-shadow">
                         <img class="card-img-top" src="assets/img/cour-img4.png" alt="Card image">
                         <div class="card-body">
                             <h6 class="card-title font-weight-bold pb-3">Course Title</h6>
                         </div>
                         <div class="prev-btn text-center">
                             <button type="text" class="btn orange-clr w-btn">Preview</button>
                          </div>
                     </div>
                 </div>
             </div>
             </div>
         </div>
     </section>
 </div>