<section class="dashboard-bg">
        <div class="container-fluid p-0">
                <div class="">
                    <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                        <div class="bg-white ">
                            <app-sidebar></app-sidebar>
                        </div>
                    </div>
                    <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                        <app-setting-header></app-setting-header>
                        <div class="main-dashboard pt-5">
                            <div class="container">
                                <div class="w-80 mt-4 mb-2 m-auto">
                                    <div class="row mb-5">
                                        <div class="col-lg-4">
                                            <div class="theme-l-content">
                                                <h6 class="font-weight-bold pb-2">Notifications</h6>
                                                <p class="mb-4">Control how Archy notifies you of within your school.</p>
                                                <img class="img-fluid ml-5 payment-img" src="assets/img/notif.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                          <div class="rounded-shadow pt-3 pb-3 pl-5 pr-5 mb-5">
                                              <h5 class="font-weight-bold pt-4 pb-4 text-center">Subscriptions</h5>
                                                <table class="table table-borderless table-responsive mb-4 pl-4 pr-4">
                                                        <thead>
                                                          <tr class="border-bottom ">
                                                            <th>Name</th>
                                                            <th>Style</th>
                                                            <th>Enable</th>
                                                          </tr>
                                                        </thead> 
                                                        <tbody><br>
                                                        <tr>
                                                            <td>New Subscriber</td>
                                                            <td>Email</td>
                                                            <td class="switch-bg">
                                                                <label class="switch">
                                                                <input type="checkbox" checked>
                                                                <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>New Free Course Enrolment</td>
                                                            <td>Email</td>
                                                            <td class="switch-bg">
                                                                <label class="switch">
                                                                <input type="checkbox" checked>
                                                                <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>New Paid Course Enrolment</td>
                                                            <td>Email</td>
                                                            <td class="switch-bg">
                                                                <label class="switch">
                                                                <input type="checkbox" checked>
                                                                <span class="slider round"></span>
                                                                </label>
                                                                </td>
                                                            </tr>  
                                                            <tr>
                                                                <td>New Cancellation</td>
                                                                <td>Email</td>
                                                                <td class="switch-bg">
                                                                    <label class="switch">
                                                                    <input type="checkbox" checked>
                                                                    <span class="slider round"></span>
                                                                    </label>
                                                                </td>
                                                            </tr> 
                                                            <tr>
                                                                <td>New Payment</td>
                                                                <td>Email</td>
                                                                <td class="switch-bg">
                                                                    <label class="switch">
                                                                    <input type="checkbox" >
                                                                    <span class="slider round"></span>
                                                                    </label>
                                                                </td>
                                                            </tr> 
                                                            <tr>
                                                                <td>New Comment</td>
                                                                <td>Email</td>
                                                                <td class="switch-bg">
                                                                    <label class="switch">
                                                                    <input type="checkbox" checked>
                                                                    <span class="slider round"></span>
                                                                    </label>
                                                                </td>
                                                            </tr>       
                                                        </tbody>
                                                </table>  
                                          </div>

                                          <div class="rounded-shadow pt-3 pb-3 pl-5 pr-5">
                                                <h5 class="font-weight-bold pt-4 pb-4 text-center">Interactions</h5>
                                                  <table class="table table-borderless table-responsive mb-4 pl-4 pr-4">
                                                          <thead>
                                                            <tr class="border-bottom ">
                                                              <th>Name</th>
                                                              <th>Style</th>
                                                              <th>Enable</th>
                                                            </tr>
                                                          </thead> 
                                                          <tbody><br>
                                                          <tr>
                                                              <td>New Comment for moderation</td>
                                                              <td>Email</td>
                                                              <td class="switch-bg">
                                                                  <label class="switch">
                                                                  <input type="checkbox" checked>
                                                                  <span class="slider round"></span>
                                                                  </label>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>New Comment Reply</td>
                                                              <td>Email</td>
                                                              <td class="switch-bg">
                                                                  <label class="switch">
                                                                  <input type="checkbox" checked>
                                                                  <span class="slider round"></span>
                                                                  </label>
                                                                  </td>
                                                              </tr> 
                                                          </tbody>
                                                  </table>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>