.border-bottom td {
    border-right: 1px solid #dee2e6;
    padding: 7px 30px;
    font-size: 10px;
}
td.border-none {
    border-right: none !important;
}
.break-table th {
    color: #ff6e00;
    font-size: 12px;
}
