<section class="dashboard-bg">
        <div class="container-fluid p-0">
            <div class="">
                    <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                        <div class="bg-white ">
                                <app-sidebar></app-sidebar>
                        </div>
                 </div>
                <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                   <app-site-header></app-site-header>
                    <div class="main-dashboard pt-5 ">
                        <div class="container">
                            <div class="w-80 mt-4 mb-2 m-auto ">
                                    <div class="row mt-4 mb-4">
                                            <div class="col-lg-4">
                                                <div class="theme-l-content">
                                                        <h6 class=" font-weight-bold pb-2">Set up your Domain</h6>
                                                        <p>Use either an Archy Learning URL or set up a custom URL under your own DNS settings.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class=" theme-r-content pt-2 pb-2 pl-2 pr-2">
                                                    <div class="row">
                                                        <div class="col-md-12 rounded-shadow mb-5 ">
                                                            <div class="mt-2">
                                                                <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                                                                <label for="radio-1" class="radio-custom-label label-clr">Archy URL Setup</label>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="box-input mr-2 w-50">
                                                                <label>.archylearning.com</label>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="col-md-12 rounded-shadow">
                                                            <div class="mt-2">
                                                                <input id="radio-2" class="radio-custom"name="radio-group" type="radio">
                                                                <label for="radio-2" class="radio-custom-label grey-clr">Custom URL Setup</label>
                                                            </div> 
                                                            <div class="form-group">
                                                                <button type="text" class="box-btn w-25 ">Test</button>
                                                                 </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-6">
                                                            <h6 class="grey-clr">Custom URLs are only made available under the premium plan</h6>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="domin-btn  btn-group">
                                                                <button type="text" class="btn orange-clr  mr-3 w-btn btn-style">Update Plan</button>
                                                                <button type="text" class="btn grey-btn  w-btn btn-style">Confirm URL</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </section>