<section class="dashboard-bg">
    <div class="container-fluid p-0">
            <div class="">
                <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                    <div class="bg-white ">
                        <app-sidebar></app-sidebar>
                    </div>
                </div>
                <div class="w-70 float-left mobileDashboard  main-style" id="extendWidth">
                    <app-course-header></app-course-header>
                    <div class="main-dashboard pt-5">
                        <div class="container">
                            <div class="w-80 mt-4 mb-2 m-auto">
                                <div class="row mb-5">
                                    <div class="col-lg-4">
                                        <div class="theme-l-content">
                                            <h6 class="font-weight-bold pb-2">Pricing</h6>
                                            <p class="mb-4">Choose how you’d like to charge for your course. You can choose to either charge your students nothing, a one off charge or by subscription. It’s your choice!</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                      <div class="rounded-shadow pt-4 pb-4 pr-5 pl-5">
                                         <div class="row p-3">
                                             <div class="col-lg-2">
                                                <div class="pr-img">
                                                    <img class="img-fluid p1-img" src="assets/img/pr-1.png" alt="">
                                                </div>
                                             </div>
                                             <div class="col-lg-6">
                                                <div class="p-content">
                                                    <h6 class="font-weight-bold pb-1">Free Course</h6>
                                                    <p>Charge nothing for your course.</p>
                                                 </div>
                                             </div>
                                             <div class="col-lg-4">
                                                <div class="p-btn pt-2">
                                                    <div class="upload-btn-wrapper">
                                                        <button class="btn orange-clr w-btn btn-style">Choose</button>
                                                        <input type="file" name="myfile" />
                                                    </div>
                                             </div>
                                           </div>
                                         </div><hr>
                                         <div class="row p-3">
                                            <div class="col-lg-2">
                                               <div class="pr-img">
                                                   <img class="img-fluid p1-img" src="assets/img/pr-2.png" alt="">
                                               </div>
                                            </div>
                                            <div class="col-lg-6">
                                               <div class="p-content">
                                                   <h6 class="font-weight-bold pb-1">One-Time Price</h6>
                                                   <p>Charge a one-time fee for your course.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                               <div class="p-btn pt-2">
                                                   <div class="upload-btn-wrapper">
                                                       <button class="btn orange-clr w-btn btn-style">Choose</button>
                                                       <input type="file" name="myfile" />
                                                   </div>
                                            </div>
                                          </div>
                                        </div><hr>
                                        <div class="row p-3">
                                            <div class="col-lg-2">
                                               <div class="pr-img">
                                                   <img class="img-fluid p1-img" src="assets/img/pr-3.png" alt="">
                                               </div>
                                            </div>
                                            <div class="col-lg-6">
                                               <div class="p-content">
                                                   <h6 class="font-weight-bold pb-1">Subscription Pricing</h6>
                                                   <p>Charge your students a set amount<br> on the same day, each month.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                               <div class="p-btn pt-2">
                                                   <div class="upload-btn-wrapper">
                                                       <button class="btn orange-clr w-btn btn-style">Choose</button>
                                                       <input type="file" name="myfile" />
                                                   </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>