
<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
            <div class="w-20 float-left box-shadow-r calc_height  scrollbar" id="sideNav">
                <div class="bg-white ">
                    <app-sidebar></app-sidebar>
                </div>
                
            </div>
            <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                <span class="toggler float-right" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <header class="box-shadow p-2">
                    <div class="header-menu "  id="header">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="pl-5 font-weight-bold pt-1">Dashboard</h5>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="main-dashboard pt-5 ">
                    <div class="container w-90">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="student-reg">
                                    <h6 class="pl-3 font-weight-bold pb-2">Students Registered</h6>
                                    <div class="student-img">
                                        <img class="img-fluid" src="assets/img/student-img.png" alt="">
                                    </div>
                                   <div class="view-btn bg-light w-100 text-right">
                                       <a href="#" class="text-dark p-3">View more</a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                    <div class="student-reg">
                                        <h6 class="pl-3 font-weight-bold pb-2">Student Time Data</h6>
                                        <div class="student-img">
                                            <img class="img-fluid" src="assets/img/student-data.png" alt="">
                                        </div>
                                       <div class="view-btn bg-light w-100 text-right">
                                           <a href="#" class="text-dark p-3">View more</a>
                                       </div>
                                    </div>
                                </div>
                            <div class="col-lg-2">
                                <div class="stude-sidebg">
                                    <img class="img-fluid" src="assets/img/stude-sideimg.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="w-80 mt-4 mb-2 smll-w">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="pl-3  font-weight-bold">Your Courses</h6>
                                </div>
                                <div class="col-md-6">
                                    <div class="course-btn text-right mb-2">
                                            <button type="text" class="btn orange-clr btn-style w-btn">NEW COURSE</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 mb-4">
                                    <div class="card card-bg box-shadow">
                                        <img class="card-img-top" src="assets/img/cour-img1.png" alt="Card image">
                                        <div class="card-body">
                                           <h6 class="card-title font-weight-bold">Course Title</h6>
                                           <a href="#" class="card-link">Sales: $0.00</a>
                                            <a href="#" class="card-link">Enrolled: 0</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3  mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img2.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                               <a href="#" class="card-link">Sales: $0.00</a>
                                                <a href="#" class="card-link">Enrolled: 0</a>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-sm-6 col-lg-3  mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img3.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                                <a href="#" class="card-link">Sales: $0.00</a>
                                                <a href="#" class="card-link">Enrolled: 0</a>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-sm-6 col-lg-3  mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img4.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                               <a href="#" class="card-link">Sales: $0.00</a>
                                                <a href="#" class="card-link">Enrolled: 0</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>