<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
            <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                <div class="bg-white ">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
            <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                <app-course-header></app-course-header>
                <div class="main-dashboard pt-5 pb-3 m-auto">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="theme-l-content pt-4 text-center">
                                        <h6 class="font-weight-bold pb-2">Flat-Pack</h6>
                                        <p >Combine multiple courses into one package, making it easier<br> for you to sell your related courses in one go. No tool required.</p>
                                    </div>
                                </div>
                            </div><hr class="mt-4 mb-4">
                            <div class="rounded-shadow p-5">
                                <div class="row mb-5">
                                    <div class="col-lg-3">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img1.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                         </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img2.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img3.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img4.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="d-border text-center m-auto p-5">
                                            <div class="grey-clr pb-4">Drag n Drop your courses here to create a flat-pack</div>
                                            <div class="image-upload">
                                                <label for="file-input">
                                                <img alt="upload" class="img-fluid u-icon mb-2" src="assets/img/u-icon.png"></label>
                                                <input id="file-input" type="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><hr class="mt-4 mb-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="rounded-shadow p-3">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="upload-bg">
                                                    <div class="image-upload text-center">
                                                        <label for="file-input">
                                                            <img alt="upload" class="img-fluid u-icon" src="assets/img/u-icon.png">
                                                        </label>
                                                        <input id="file-input" type="file">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="upload-text p-2">
                                                    <img class="img-fluid pt-2 pb-3" src="assets/img/99-design.png" alt="">
                                                    <div class="theme-l-content">
                                                        <h6 class="font-weight-bold pb-3">Have one designed:</h6>
                                                        <p class="pb-3">Connect with 99Designs to have your course cover designed for you</p>
                                                    </div>
                                                    <button type="button"class="btn orange-clr w-btn">Connect</button>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="list-from">
                                            <div class="form-group">
                                                <label>Pack Name</label>  
                                                <input type="text" class="form-control">                                        
                                             </div>
                                            <div class="form-group">
                                                <label>Pack Bio</label>  
                                                <input type="text" class="form-control">                                        
                                            </div>
                                            <div class="form-group">
                                                <label>Course Description</label>
                                                <textarea class="form-control" rows="4"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Category - Seperate by comma</label>  
                                                <input type="text" class="form-control">                                        
                                            </div>
                                            <div class="button-bg pt-4 text-right">
                                                <button type="button"class="btn purple-clr w-btn">Save</button>   
                                            </div>
                                          </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="rounded-shadow p-4 swap-bg mb-4">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="pr-img  swap-on-hover">
                                                    <img class="img-fluid p1-img swap-on-hover__front-image" src="assets/img/pr-1.png" alt="">
                                                    <img class="img-fluid p1-img swap-on-hover__back-image" src="assets/img/pr-1bk.png"/>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="p-content">
                                                    <h6 class="font-weight-bold pb-1">Free Course</h6>
                                                    <p>Charge nothing for your course.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded-shadow p-4 swap-bg mb-4">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="pr-img  swap-on-hover">
                                                    <img class="img-fluid p1-img swap-on-hover__front-image" src="assets/img/pr-2.png" alt="">
                                                    <img class="img-fluid p1-img swap-on-hover__back-image" src="assets/img/pr-2bk.png"/>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="p-content">
                                                    <h6 class="font-weight-bold pb-1">One-Time Price</h6>
                                                    <p>Charge a one-time fee for your course.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded-shadow pb-2 pt-3 pl-3 pr-3 swap-bg mb-4">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="pr-img  swap-on-hover">
                                                    <img class="img-fluid p1-img swap-on-hover__front-image" src="assets/img/pr-3.png" alt="">
                                                    <img class="img-fluid p1-img swap-on-hover__back-image" src="assets/img/pr-3bk.png"/>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="p-content">
                                                    <h6 class="font-weight-bold pb-1">Subscription Pricing</h6>
                                                    <p>Charge your students a set amount on<br> the same day, each month.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rounded-shadow p-4 mb-4">
                                       <div class="d-flex">
                                           <div class="mr-auto flat-input">
                                            <label>Flat-Pack Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text">$</span>
                                                </div>
                                                <input type="text" class="form-control">
                                              </div>
                                           </div>
                                           <div class="button-bg text-right pt-4">
                                            <button type="button"class="btn purple-clr w-btn">Save</button>   
                                        </div>
                                       </div>
                                     </div>
                                     <div class="flat-b-img text-center">
                                        <img class="img-fluid" src="assets/img/flat-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>