<section class="course-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 teach-login calc_height">
                    <div class="course-inner w-75 m-auto p-5">
                        <div class="logo-bg text-center p-4">
                            <img class="img-fluid teach-logo" src="assets/img/teach-logo.png" alt="logo">
                        </div>
                            <form>
                                <div class="form-group">
                                  <input type="email" class="form-control box-shadow" placeholder="Username" id="email">
                                </div>
                                <div class="form-group mb-1">
                                  <input type="password" class="form-control box-shadow" placeholder="Password" id="pwd">
                                </div>
                               
                                <div class="form-group form-check d-flex justify-content-between p-0">
                                    <div class="for-bg">
                                         <a href="#" class=" text-white">Forget Password</a>
                                    </div> 
                                  <label class="form-check-label text-white">
                                    <input class="form-check-input " type="checkbox"> Remember me
                                  </label>
                                </div>
                                <button type="submit" routerLink="/teacher-dashboard" class="btn yellow-btn w-100 box-shadow mb-3 btn-h">Login</button>
                                <button type="submit" class="btn box-shadow   bg-white text-dark w-100 btn-h">Sign Up</button>
                            </form>
                    </div>
                       
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="login-head">
                       <img class="img-fluid" src="assets/img/teach-bg.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </section>