<section class="dashboard-bg">
        <div class="container-fluid p-0">
                <div class="">
                    <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                        <div class="bg-white ">
                            <app-sidebar></app-sidebar>
                        </div>
                    </div>
                    <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                        <app-setting-header></app-setting-header>
                        <div class="main-dashboard pt-5">
                            <div class="container">
                                <div class="w-80 mt-4 mb-2 m-auto">
                                    <div class="row mb-5">
                                        <div class="col-lg-4">
                                            <div class="theme-l-content">
                                                <h6 class="font-weight-bold pb-2">Payment Settings</h6>
                                                <p class="mb-4">We’ve teamed up with the best payment systems in the game. Take your pick</p>
                                                <img class="img-fluid ml-5 payment-img" src="assets/img/payment.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                          <div class="rounded-shadow pt-3 pb-3 pl-5 pr-5">
                                             <div class="d-flex">
                                                 <div class="mr-auto">
                                                     <img class="img-fluid p1-img" src="assets/img/p-1.png" alt="">
                                                 </div>
                                                 <div class="p-btn pt-2">
                                                        <button type="text" routerLink="/compose-edm" class="btn orange-clr  w-btn">Connect</button>
                                                 </div>
                                             </div><hr>
                                             <div class="d-flex">
                                                    <div class="mr-auto">
                                                        <img class="img-fluid p1-img" src="assets/img/p-2.png" alt="">
                                                    </div>
                                                    <div class="p-btn pt-2">
                                                           <button type="text" routerLink="/compose-edm" class="btn orange-clr  w-btn">Connect</button>
                                                    </div>
                                                </div><hr>
                                                <div class="d-flex">
                                                        <div class="mr-auto">
                                                            <img class="img-fluid p1-img" src="assets/img/p-3.png" alt="">
                                                        </div>
                                                        <div class="p-btn pt-2">
                                                               <button type="text" routerLink="/compose-edm" class="btn orange-clr  w-btn">Connect</button>
                                                        </div>
                                                    </div><hr>
                                                    <div class="d-flex">
                                                            <div class="mr-auto">
                                                                <img class="img-fluid p1-img" src="assets/img/p-4.png" alt="">
                                                            </div>
                                                            <div class="p-btn pt-2">
                                                                   <button type="text" routerLink="/compose-edm" class="btn orange-clr  w-btn">Connect</button>
                                                            </div>
                                                        </div><hr>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>