<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
            <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                <div class="bg-white ">
                    <app-teacher-sidebar></app-teacher-sidebar>
                </div>
            </div>
            <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                <span class="toggler float-right" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <header class="box-shadow p-2 teach-dash">
                    <div class="header-menu "  id="header">
                        <div class="row">
                            <div class="col-lg-4">
                               <h5 class="pl-5 font-weight-bold pt-1">Course Library</h5>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                    </div>
                </header>
                <div class="main-dashboard pt-5 pb-3">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="theme-l-content pt-4">
                                        <h6 class="font-weight-bold pb-2">Course Library</h6>
                                       <p>Choose from an extensive library of schooling approved courses to equip your students with the best information. From Cyber Safety to Editing a video professionally, it’s all here!</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <h4 class="font-weight-bold text-center mb-3">Featured</h4>
                                    <div class="rounded-shadow pl-4 pt-4 pr-5">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <img class="img-fluid course-lib" src="assets/img/c-libraryimg.png" alt="">
                                            </div>
                                            <div class="col-sm-6 col-lg-6">
                                                <div class="theme-l-content pt-4">
                                                    <h6 class="font-weight-bold pb-3">Australia’s #1 most requested speakers now in your classroom whenever you want!</h6>
                                                   <p class="pb-3">Choose from one of Jonny’s highly requested courses to help guide your students through the tricky terrain of adolescence. </p>
                                                </div>
                                                <button type="text"  class="btn orange-clr w-btn text-uppercase mb-2">See Courses</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><hr class="mt-0 mb-4">
                            <div class="pt-4 pb-5 pl-5 pr-5">
                               <div class="row mb-4">
                                    <div class="col-sm-6 col-lg-3 mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img1.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                         </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img2.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img3.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 mb-4">
                                        <div class="card card-bg box-shadow">
                                            <img class="card-img-top" src="assets/img/cour-img4.png" alt="Card image">
                                            <div class="card-body">
                                                <h6 class="card-title font-weight-bold">Course Title</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                        <div class="col-sm-6 col-lg-3 mb-4">
                                            <div class="card card-bg box-shadow">
                                                <img class="card-img-top" src="assets/img/cour-img1.png" alt="Card image">
                                                <div class="card-body">
                                                    <h6 class="card-title font-weight-bold">Course Title</h6>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3 mb-4">
                                            <div class="card card-bg box-shadow">
                                                <img class="card-img-top" src="assets/img/cour-img2.png" alt="Card image">
                                                <div class="card-body">
                                                    <h6 class="card-title font-weight-bold">Course Title</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3 mb-4">
                                            <div class="card card-bg box-shadow">
                                                <img class="card-img-top" src="assets/img/cour-img3.png" alt="Card image">
                                                <div class="card-body">
                                                    <h6 class="card-title font-weight-bold">Course Title</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3 mb-4">
                                            <div class="card card-bg box-shadow">
                                                <img class="card-img-top" src="assets/img/cour-img4.png" alt="Card image">
                                                <div class="card-body">
                                                    <h6 class="card-title font-weight-bold">Course Title</h6>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</section>