<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
                <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                    <div class="bg-white ">
                        <app-sidebar></app-sidebar>
                    </div>
             </div>
            <div class="w-70 float-left mobileDashboard  main-style" id="extendWidth">
               <app-site-header></app-site-header>
                <div class="main-dashboard pt-5 ">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="rounded-shadow theme-r-content pt-3 pb-3 pl-5 pr-5 ">
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <h5 class="font-weight-bold">Your Pages</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="text" class="btn orange-clr w-btn float-right ">New Page</button>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-12">
                                            <table class="table table-borderless table-responsive  page-table m-auto">
                                                    <thead>
                                                      <tr class="border-bottom ">
                                                        <th>Page Title</th>
                                                        <th>URL</th>
                                                        <th>Visibility</th>
                                                        <th>Preview</th>
                                                        <th></th>
                                                        
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr class="border-bottom ">
                                                            <td>Home</td>
                                                            <td>/home</td>
                                                            <td class="switch-bg">
                                                                    <label class="switch">
                                                                    <input type="checkbox" checked>
                                                                    <span class="slider round"></span>
                                                                  </label>
                                                                </td>
                                                            <td><i class="fa fa-arrow-circle-right orange-icon" aria-hidden="true"></i>
                                                            </td>
                                                            <td>
                                                                    <button type="submit" class="btn-edit mr-3">Edit</button>
                                                                    <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                </td>
                                                          </tr>
                                                          <tr class="border-bottom ">
                                                                <td>Pricing</td>
                                                                <td>/pricing</td>
                                                                <td class="switch-bg">
                                                                        <label class="switch">
                                                                        <input type="checkbox" checked>
                                                                        <span class="slider round"></span>
                                                                      </label>
                                                                    </td>
                                                                <td><i class="fa fa-arrow-circle-right orange-icon" aria-hidden="true"></i>
                                                                </td>
                                                                <td>
                                                                        <button type="submit" class="btn-edit mr-3">Edit</button>
                                                                        <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                    </td>
                                                              </tr>
                                                              <tr class="border-bottom ">
                                                                    <td>Plan</td>
                                                                    <td>/plan</td>
                                                                    <td class="switch-bg">
                                                                            <label class="switch">
                                                                            <input type="checkbox" checked>
                                                                            <span class="slider round"></span>
                                                                          </label>
                                                                        </td>
                                                                    <td><i class="fa fa-arrow-circle-right orange-icon" aria-hidden="true"></i>
                                                                    </td>
                                                                    <td>
                                                                            <button type="submit" class="btn-edit mr-3">Edit</button>
                                                                            <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                        </td>
                                                                  </tr>
                                                                  <tr class="border-bottom ">
                                                                        <td>Login</td>
                                                                        <td>/login</td>
                                                                        <td class="switch-bg">
                                                                                <label class="switch">
                                                                                <input type="checkbox" checked>
                                                                                <span class="slider round"></span>
                                                                              </label>
                                                                            </td>
                                                                        <td><i class="fa fa-arrow-circle-right orange-icon" aria-hidden="true"></i>
                                                                        </td>
                                                                        <td>
                                                                                <button type="submit" class="btn-edit mr-3">Edit</button>
                                                                                <span class="delete-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                                                            </td>
                                                                      </tr>
                                                    </tbody>
                                                  </table>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</section>