<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
                <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                    <div class="bg-white ">
                            <app-sidebar></app-sidebar>
                    </div>
            </div>
            <div class="w-70 float-left mobileDashboard compose-style main-style" id="extendWidth">
                <app-email-header></app-email-header>
                <div class="main-dashboard pt-5 ">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="row mb-5">
                                <div class="col-lg-4">
                                    <div class="theme-l-content">
                                        <h6 class="font-weight-bold pb-2">Compose EDM</h6>
                                        <p>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                    <hr>
                                    <div class="rounded-shadow p-4 theme-r-content mb-3">
                                        <div class="d-flex">
                                            <div class="his-head mr-auto">
                                                <h6 class="font-weight-bold pb-2">Choose list to email</h6>
                                            </div>
                                            <div class="add-icon">
                                                    <i class="material-icons">add_circle</i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="pb-2">Select a list from your</label>
                                            <select class="btn-grey form-control">
                                                <option></option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3 </option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="course-btn  btn-group hist-btn text-center">
                                        <button class="btn orange-clr-outline w-btn mr-4"  type="button">Save for Later</button>
                                        <button class="btn orange-clr  w-btn" type="button">Send</button>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                  <div class="rounded-shadow pt-4 pb-4 pl-5 pr-5">
                                        <div class="row mb-3">
                                            <div class="col-lg-12">
                                                <div class="image-upload bg-grey text-center p-5">
                                                    <label for="file-input">
                                                    <img class="img-fluid u-icon "src="assets/img/u-icon.png" alt="upload">
                                                    </label>
                                                    <input id="file-input" type="file"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-lg-4">
                                                <div class="image-upload bg-grey text-center p-5">
                                                    <label for="file-input">
                                                    <img class="img-fluid u-icon "src="assets/img/u-icon.png" alt="upload">
                                                    </label>
                                                    <input id="file-input" type="file"/>
                                                </div> 
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="theme-l-content pt-4">
                                                    <h6 class="font-weight-bold pb-3">Lorem ipsum</h6>
                                                    <p>dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="image-upload bg-grey text-center p-5">
                                                        <label for="file-input">
                                                        <img class="img-fluid u-icon "src="assets/img/u-icon.png" alt="upload">
                                                        </label>
                                                        <input id="file-input" type="file"/>
                                                    </div> 
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="theme-l-content pt-4">
                                                        <h6 class="font-weight-bold pb-3">Lorem ipsum</h6>
                                                        <p>dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                                                    </div>
                                                </div>
                                        </div>
                                    <div class="text-center mt-4">
                                        <button class="btn orange-clr  w-btn ct-btn" type="button">CTA Button</button>
                                    </div>
                                    <hr>
                                    <div class="his-foot text-center w-50 m-auto">
                                        <h6 class="mb-2">Footer Text here</h6>
                                        <p>dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>