.add-icon i {
    color: #ff6e00;
    font-size: 26px;
    cursor: pointer;
}
.hist-btn .btn {
    border-radius: 30px !important;
}
.hist-btn {
    display: inherit;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 50px;
    cursor: pointer;
}
.bg-grey {
    background: #CBCBCB;
}
.ct-btn {
    width: 120px;
    height: 32px;
    font-size: 14px;
}
.his-foot {
    color: #ccc;
}
.his-foot h6{
    font-size: 12px;
}
.his-foot p {
    font-size: 10px;
}