<section class="dashboard-bg">
        <div class="container-fluid p-0">
            <div class="">
                    <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                        <div class="bg-white ">
                            <app-teacher-sidebar></app-teacher-sidebar>
                        </div>
                 </div>
                <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
                   <app-t-email-header></app-t-email-header>
                    <div class="main-dashboard pt-5 ">
                        <div class="container">
                            <div class="w-80 mt-4 mb-2 m-auto">
                                <div class="theme-l-content">
                                    <h6 class="font-weight-bold pb-2">Choose your Template</h6>
                                    <p class="pb-4">Choose a template for your emails from a the library below</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="rounded-shadow p-4 m-auto temp-h">
                                            <img class="img-fluid " src="assets/img/t-1.png" alt="">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn orange-clr w-btn  mt-3 ">Choose</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="rounded-shadow p-4 m-auto temp-h">
                                            <img class="img-fluid" src="assets/img/t-2.png" alt="">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn orange-clr w-btn  mt-3 ">Choose</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="rounded-shadow p-4 m-auto temp-h">
                                            <img class="img-fluid" src="assets/img/t-3.png" alt="">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn orange-clr w-btn  mt-3 ">Choose</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="rounded-shadow p-4 m-auto temp-h">
                                            <img class="img-fluid" src="assets/img/t-4.png" alt="">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn orange-clr w-btn mt-3 ">Choose</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>