<section class="dashboard-bg">
    <div class="container-fluid p-0">
        <div class="">
                <div class="w-20 float-left box-shadow-r calc_height scrollbar" id="sideNav">
                    <div class="bg-white ">
                        <app-sidebar></app-sidebar>
                    </div>
             </div>
            <div class="w-70 float-left mobileDashboard main-style" id="extendWidth">
               <app-sales-header></app-sales-header>
                <div class="main-dashboard pt-5 ">
                    <div class="container">
                        <div class="w-80 mt-4 mb-2 m-auto">
                            <div class="rounded-shadow theme-r-content pt-3 pb-3 pl-5 pr-5 ">
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <h5 class="font-weight-bold">Transactions</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group float-right">
                                            <select class="btn-ouline-grey form-control">
                                                    <option>Sort by Date</option>
                                                    <option>11/11/2019</option>
                                                    <option>10/11/2019</option>
                                                    <option>09/11/2019</option>
                                                    <option>08/11/2019</option>
                                                    <option>07/11/2019</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-borderless table-responsive break-table text-center">
                                            <thead>
                                              <tr class="border-bottom">
                                                <th>Date</th>
                                                <th>Price</th> 
                                                <th>Payment Method</th> 
                                                <th>Student Name</th> 
                                                <th>Course</th> 
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="border-bottom">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                              <tr class="border-bottom ">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="border-none"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>