<div class="preview-head">
    <div class="container-fluid p-0">
        <span class="toggler float-right" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></span>
            <header class="box-shadow p-2">
                <div class="header-menu "  id="header">
                    <div class="row">
                        <div class="col-lg-2">
                        <img routerLink="/tbasicinfo"  class="img-fluid p-arrow" src="assets/img/arrow.png" alt="">
                        </div>
                        <div class="col-lg-3">
                        <h5 class="pl-5 font-weight-bold pt-1">School Name</h5>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-4">
                            <div class="course-btn  btn-group">
                                <button type="button" class="btn orange-clr  mr-3 w-btn">Previous Unit</button>
                                <button type="button" routerLink="/coursepreview" class="btn orange-clr-outline w-btn">Next Unit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    </div>
</div>
<section class="preview">
    <div class="container ">
      <div class="row">
          <div class="col-lg-4">
              <div class="rounded-shadow  ">
                  <div class="pt-5 pb-4 pl-5 pr-5">
                    <img class="img-fluid pre-img" src="assets/img/pre-img.png" alt="">
                    <h4 class="font-weight-bold pt-4">Class 01</h4> 
                  </div>
                <ul class="list-unstyled doted-b">
                    <li class="font-weight-bold">1 out of 3 units</li>
                </ul>
                <ol class="pre-list">
                    <li>Unit 1</li>
                    <li>Unit 2</li>
                    <li>Unit 3</li>
                  </ol> 
              </div>
          </div>
          <div class="col-lg-8">
            <div class="rounded-shadow p-5 mb-5">
                <h4 class="font-weight-bold pt-4 text-center">Class 01</h4> 
                <img class="img-fluid" src="assets/img/class01.png" alt="">
                <div  class="phr-b">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita</p>
                
                </div>  
                <div class="row mt-5 mr-5 ml-5 mb-3">
                    <div class="col-lg-6">
                        <button type="button" class="p-btn grey-btn">Previous Unit</button>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="float-right">
                            <button tytpe="button" class="p-btn  yellow-btn">Next Unit</button>
                        </div>
                    </div>
                </div>            
            </div>
          </div>
      </div>
    </div>
</section>